*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    background-color: rgb(7, 5, 8);
    width: 100%;
    padding: 10px;
}

.menu{
    max-width: 1250px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu ul{
    display: inline-flex;
}

li{
    list-style: none;
    margin-left: 8px;
}

ul li a{
    text-decoration: none;
    color: aliceblue;
    font-size: 18px;
    font-weight: 600px;
    padding: 20px;
}

ul li a:hover{
    background-color: white;
    color: black;
    border-radius: 8px;
}

.img{
    background-image: url("../img/home.jfif");
    height: 87vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.buttons{
    position: absolute;
    top: 45%;
    left: 38%;
}

.buttons button{
    height: 100px;
    width: 180px;
    border-radius: 7px;
    border: none;
    font-size: 20px;
    background-color: rgb(7, 5, 8);
    color: white;
}

button a{
    text-decoration: none;
    color: aliceblue;
    font-size: 18px;
    font-weight: 600px;
}

button:hover{
    border: 2px solid white;
}